<br>
<h2 style="text-align: center">Info</h2>
<br>
<span><p style="text-align: center">This application is designed to allow users to communicate about bourbons and get reviews from a large group of individuals. <br>
          This will help potential buyers of bourbon make educated purchases and more often aquire bourbon that they enjoy. As the <br>
          developer of this application I have felt the desire for this sort of information many times as I am looking at the prices <br>
        of bourbons on the shelves. My hope is that this application can help users aquire information that gives them more comfort <br>
        when they are making bourbon purchases themselves. <br></p>
    <h4 style="text-align: center">Sincerly,</h4> 
    <h4 style="text-align: center">Ted Kruse</h4></span>