<div class="row align-items-start">
    <div class="col">
      <div class="dropdown" style="float: right;">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Sort Options
        </a>      
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" (click)="sortReviewsRating()">Sort by rating</a></li>
          <li><a class="dropdown-item" (click)="sortReviewsTaste()">Sort by taste</a></li>
          <li><a class="dropdown-item" (click)="sortReviewsNose()">Sort by nose</a></li>
          <li><a class="dropdown-item" (click)="sortReviewsMouthfeel()">Sort by mouthfeel</a></li>
          <li><a class="dropdown-item" (click)="sortReviewsValue()">Sort by value</a></li>
          <li><a class="dropdown-item" (click)="sortReviewsAvail()">Sort by availability</a></li>
        </ul>
      </div>
    </div>
    <div class="col">
      <h2 style="text-align: center">Reviews</h2>
    </div>
    <div class="col">
    </div>
  </div>
<div *ngFor="let review of reviews" class="card mb-3 mx-auto" style="width: 90%" >
    <h5 class="card-header">{{review?.name}}</h5>
    <div class="card-body">
      <h5 class="card-title">Bourbon: {{review?.bourbon_id}}</h5>
      <h5 class="card-title">Rating: {{review?.rating}}</h5>
      <div> 
        <span *ngIf="!review.taste">
            taste: N/A
        </span>
        <span *ngIf="review.taste">
            taste: {{review?.taste}}
        </span>
        <span *ngIf="!review.nose">
            nose: N/A
        </span>
        <span *ngIf="review.nose">
            nose: {{review?.nose}}
        </span>
        <span *ngIf="!review.mouthfeel">
            mouthfeel: N/A
        </span>
        <span *ngIf="review.mouthfeel">
            mouthfeel: {{review?.mouthfeel}}
        </span>
        <span *ngIf="!review.value">
            value: N/A
        </span>
        <span *ngIf="review.value">
            value: {{review?.value}}
        </span>
        <span *ngIf="!review.availability">
            availability: N/A
        </span>
        <span *ngIf="review.availability">
            availability: {{review?.availability}}
        </span>
    </div>
      <p class="card-text">{{review?.content}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
      <span class="position-absolute bottom-0 end-0 my-1 mx-3" *ngIf="review.profile_id">
        <a routerLink= "/profile" [queryParams]="{name: review.profile_id}" class="nav-link" href="#profile" >Reviewed By: {{review?.profile_id}}</a>
      </span>
    </div>
  </div>